In [3]:
#Data 
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [4]:
profit_monthly = []
for i in range(len(revenue)):
    profit_monthly.append(revenue[i]-expenses[i])
profit_monthly

[2522.67,
 1911.3900000000003,
 -3707.790000000001,
 -2914.3099999999995,
 -599.9200000000001,
 7265.24,
 8210.550000000001,
 3944.9700000000003,
 3328.3899999999994,
 -2238.6500000000015,
 659.5999999999985,
 11629.54]

In [5]:
profit_after_tax = [round(i - i*0.3,2) for i in profit_monthly]
profit_after_tax

[1765.87,
 1337.97,
 -2595.45,
 -2040.02,
 -419.94,
 5085.67,
 5747.39,
 2761.48,
 2329.87,
 -1567.06,
 461.72,
 8140.68]

In [6]:
profit_margin_monthly= [round(profit_after_tax[i]/revenue[i],2) for i in range(len(revenue))]
profit_margin_monthly

[0.12, 0.18, -0.3, -0.22, -0.05, 0.63, 0.5, 0.28, 0.23, -0.11, 0.04, 0.53]

In [7]:
type_month = []
mean = 0
sum = 0
for i in profit_after_tax:
    sum = sum+i
mean =round(sum/12,2)
mean

1750.68

In [8]:
for i in range(len(profit_after_tax)):
    if profit_after_tax[i]>mean:
        type_month.append('Good')
    else:
        type_month.append('Bad')
type_month

['Good',
 'Bad',
 'Bad',
 'Bad',
 'Bad',
 'Good',
 'Good',
 'Good',
 'Good',
 'Bad',
 'Bad',
 'Good']

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame((zip(revenue,expenses,profit_monthly,profit_after_tax,profit_margin_monthly,type_month)),columns=['Revenue','Expenses','Monthly Profit','Taxed Profit','Profit Margin','Category'])
df

     Revenue  Expenses  Monthly Profit  Taxed Profit  Profit Margin Category
0   14574.49  12051.82         2522.67       1765.87           0.12     Good
1    7606.46   5695.07         1911.39       1337.97           0.18      Bad
2    8611.41  12319.20        -3707.79      -2595.45          -0.30      Bad
3    9175.41  12089.72        -2914.31      -2040.02          -0.22      Bad
4    8058.65   8658.57         -599.92       -419.94          -0.05      Bad
5    8105.44    840.20         7265.24       5085.67           0.63     Good
6   11496.28   3285.73         8210.55       5747.39           0.50     Good
7    9766.09   5821.12         3944.97       2761.48           0.28     Good
8   10305.32   6976.93         3328.39       2329.87           0.23     Good
9   14379.96  16618.61        -2238.65      -1567.06          -0.11      Bad
10  10713.97  10054.37          659.60        461.72           0.04      Bad
11  15433.50   3803.96        11629.54       8140.68           0.53     Good